<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
</head>

<body>

<h1>Diabetes Prediction System</h1>

<form action="/predict" method="POST">

<label>Pregnancies</label><br>
<input type="number" name="Pregnancies"><br><br>

<label>Glucose</label><br>
<input type="number" name="Glucose"><br><br>

<label>Blood Pressure</label><br>
<input type="number" name="BloodPressure"><br><br>

<label>Skin Thickness</label><br>
<input type="number" name="SkinThickness"><br><br>

<label>Insulin</label><br>
<input type="number" name="Insulin"><br><br>

<label>BMI</label><br>
<input type="number" step="any" name="BMI"><br><br>

<label>Diabetes Pedigree Function</label><br>
<input type="number" step="any" name="DiabetesPedigreeFunction"><br><br>

<label>Age</label><br>
<input type="number" name="Age"><br><br>

<button type="submit">Predict</button>

</form>

</body>
</html>