<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Diabetes Prediction AI{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Diabetes Prediction AI</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/history">History</a>
            <a href="/about">About</a>
        </nav>
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
    <p>
        Diabetes Prediction AI &copy; 2026
    </p>

    <p>
        For educational purposes only. This application is not a medical diagnosis.
    </p>

    <p>
        <a href="https://github.com/harinisharma-t/DiabetesPredictionAI.git"
           target="_blank">
            View Project on GitHub
        </a>
    </p>
    <p>
    <a href="#">Back to top</a>
    </p>
</footer>

</body>
</html>
