<!DOCTYPE html>
<html>

<head>
    <title>Prediction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<div class="container">

    <h1>Prediction History</h1>

    <form method="GET" action="/history" class="search-form">

        <input
            type="text"
            name="search"
            placeholder="Search by Prediction, Glucose or Age"
            value="{{ search }}">

        <button type="submit">Search</button>

        <a href="/history">
            <button type="button">Clear</button>
        </a>

    </form>

    <br>

<a href="/export">
    <button type="button">
        Export CSV
    </button>
</a>

<br><br>

    <table class="history-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Glucose</th>
                <th>BMI</th>
                <th>Prediction</th>
                <th>Confidence</th>
                <th>Date & Time</th>
            </tr>
        </thead>

        <tbody>

        {% for row in predictions %}

        <tr>

            <td>{{ row[0] }}</td>

            <td>{{ row[2] }}</td>

            <td>{{ row[6] }}</td>

            <td>

                {% if "High" in row[9] %}
                    <span class="badge high-risk">
                        {{ row[9] }}
                    </span>
                {% else %}
                    <span class="badge low-risk">
                        {{ row[9] }}
                    </span>
                {% endif %}

            </td>

            <td>{{ row[10] }}%</td>

            <td>{{ row[11] }}</td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

    <br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>

</body>

</html>