<!DOCTYPE html>
<html>

<head>
    <title>Prediction History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<div class="container">

    <h1>Prediction History</h1>

    <!-- Search Box -->
    <form method="GET" action="/history" style="margin-bottom:20px;">

        <input
            type="text"
            name="search"
            placeholder="Search by Prediction, Glucose or Age"
            value="{{ search }}"
            style="width:300px; padding:10px;">

        <button type="submit">Search</button>

        <a href="/history">
            <button type="button">Clear</button>
        </a>

    </form>

    <table border="1" cellpadding="10" cellspacing="0"
           style="margin:auto; border-collapse:collapse;">

        <tr>
            <th>ID</th>
            <th>Glucose</th>
            <th>BMI</th>
            <th>Prediction</th>
            <th>Confidence</th>
            <th>Date & Time</th>
        </tr>

        {% for row in predictions %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}%</td>
            <td>{{ row[11] }}</td>
        </tr>
        {% endfor %}

    </table>

    <br><br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>

</body>
</html>