<!DOCTYPE html>
<html>

<head>
    <title>Diabetes Prediction System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<div class="container">

    <h1>Diabetes Prediction Dashboard</h1>

    <p class="subtitle">
        Welcome to the Diabetes Prediction System.
        This application uses a Machine Learning model to estimate diabetes risk
        based on patient health information.
    </p>

    <form action="/predict" method="POST">

        <label>Pregnancies</label>
        <input type="number" name="Pregnancies" min="0" required>

        <label>Glucose</label>
        <input type="number" name="Glucose" min="0" required>

        <label>Blood Pressure</label>
        <input type="number" name="BloodPressure" min="0" required>

        <label>Skin Thickness</label>
        <input type="number" name="SkinThickness" min="0" required>

        <label>Insulin</label>
        <input type="number" name="Insulin" min="0" required>

        <label>BMI</label>
        <input type="number" step="0.1" name="BMI" min="0" required>

        <label>Diabetes Pedigree Function</label>
        <input type="number" step="0.001" name="DiabetesPedigreeFunction" min="0" required>

        <label>Age</label>
        <input type="number" name="Age" min="1" required>

        <br>

        <button type="submit">Predict Diabetes</button>

    </form>

    <br>

    <a href="/history">
        <button type="button">Prediction History</button>
    </a>

    <br><br>

    <a href="/about">
        <button type="button">About Project</button>
    </a>

</div>

</body>
</html>